In [69]:
import numpy as np
import pandas as pd

In [70]:
df = pd.read_csv("C:/Users/sr069609/Downloads/loan.csv",encoding ="ISO-8859-1")

In [71]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [72]:
df.shape

(39717, 111)

In [73]:
unique= df.id.unique()

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [74]:
df.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [79]:
round(100*(df.isnull().sum()/len(df.index)), 2)

id                        0.00
member_id                 0.00
loan_amnt                 0.00
funded_amnt               0.00
funded_amnt_inv           0.00
                         ...
num_tl_120dpd_2m        100.00
num_tl_30dpd            100.00
num_tl_90g_dpd_24m      100.00
pub_rec_bankruptcies      1.75
tax_liens                 0.10
Length: 104, dtype: float64

In [76]:
df = df.drop('tot_hi_cred_lim', axis=1)
df = df.drop('total_bal_ex_mort', axis=1)
df = df.drop('total_bc_limit', axis=1)
df = df.drop('total_il_high_credit_limit', axis=1)

In [78]:
df = df.drop('num_tl_op_past_12m', axis=1)
df = df.drop('pct_tl_nvr_dlq', axis=1)
df = df.drop('percent_bc_gt_75', axis=1)

In [80]:
df = df.drop('num_tl_120dpd_2m', axis=1)
df = df.drop('num_tl_30dpd', axis=1)
df = df.drop('num_tl_90g_dpd_24m', axis=1)

In [87]:
round(100*(df.isnull().sum()/len(df.index)), 2)

id                                  0.00
member_id                           0.00
loan_amnt                           0.00
funded_amnt                         0.00
funded_amnt_inv                     0.00
                                   ...
mths_since_recent_inq             100.00
mths_since_recent_revol_delinq    100.00
num_accts_ever_120_pd             100.00
pub_rec_bankruptcies                1.75
tax_liens                           0.10
Length: 92, dtype: float64

In [82]:
df = df.drop('num_rev_accts', axis=1)
df = df.drop('num_rev_tl_bal_gt_0', axis=1)
df = df.drop('num_sats', axis=1)

In [84]:
df = df.drop('num_bc_tl', axis=1)
df = df.drop('num_il_tl', axis=1)
df = df.drop('num_op_rev_tl', axis=1)

In [86]:
df = df.drop('num_actv_bc_tl', axis=1)
df = df.drop('num_actv_rev_tl', axis=1)
df = df.drop('num_bc_sats', axis=1)

In [88]:
df = df.drop('mths_since_recent_inq', axis=1)
df = df.drop('mths_since_recent_revol_delinq', axis=1)
df = df.drop('num_accts_ever_120_pd', axis=1)

In [103]:
round(100*(df.isnull().sum()/len(df.index)), 2)

id                            0.00
member_id                     0.00
loan_amnt                     0.00
funded_amnt                   0.00
funded_amnt_inv               0.00
                             ...
inq_last_12m                100.00
chargeoff_within_12_mths      0.14
delinq_amnt                   0.00
pub_rec_bankruptcies          1.75
tax_liens                     0.10
Length: 78, dtype: float64

In [90]:
df = df.drop('mort_acc', axis=1)
df = df.drop('mths_since_recent_bc', axis=1)
df = df.drop('mths_since_recent_bc_dlq', axis=1)

In [92]:
df = df.drop('mo_sin_old_rev_tl_op', axis=1)
df = df.drop('mo_sin_rcnt_rev_tl_op', axis=1)
df = df.drop('mo_sin_rcnt_tl', axis=1)

In [94]:
df = df.drop('mo_sin_old_il_acct', axis=1)

In [96]:
df = df.drop('bc_util', axis=1)

In [98]:
df = df.drop('bc_open_to_buy', axis=1)

In [100]:
df = df.drop('avg_cur_bal', axis=1)

In [102]:
df = df.drop('acc_open_past_24mths', axis=1)

In [104]:
df = df.drop('inq_last_12m', axis=1)

In [121]:
round(100*(df.isnull().sum()/len(df.index)), 2)

id                            0.00
member_id                     0.00
loan_amnt                     0.00
funded_amnt                   0.00
funded_amnt_inv               0.00
                             ...
total_bal_il                100.00
chargeoff_within_12_mths      0.14
delinq_amnt                   0.00
pub_rec_bankruptcies          1.75
tax_liens                     0.10
Length: 69, dtype: float64

In [106]:
df = df.drop('total_cu_tl', axis=1)

In [108]:
df = df.drop('inq_fi', axis=1)

In [112]:
df = df.drop('all_util', axis=1)

In [110]:
df = df.drop('total_rev_hi_lim', axis=1)

In [114]:
df = df.drop('max_bal_bc', axis=1)

In [116]:
df = df.drop('open_rv_24m', axis=1)

In [118]:
df = df.drop('open_rv_12m', axis=1)

In [120]:
df = df.drop('il_util', axis=1)

In [122]:
df = df.drop('total_bal_il', axis=1)

In [143]:
round(100*(df.isnull().sum()/len(df.index)), 2)

id                          0.00
member_id                   0.00
loan_amnt                   0.00
funded_amnt                 0.00
funded_amnt_inv             0.00
                            ...
acc_now_delinq              0.00
chargeoff_within_12_mths    0.14
delinq_amnt                 0.00
pub_rec_bankruptcies        1.75
tax_liens                   0.10
Length: 61, dtype: float64

In [126]:
df = df.drop('open_il_24m', axis=1)

In [128]:
df = df.drop('open_il_12m', axis=1)

In [130]:
df = df.drop('open_il_6m', axis=1)

In [132]:
df = df.drop('open_acc_6m', axis=1)

In [135]:
df = df.drop('tot_cur_bal', axis=1)

In [137]:
df = df.drop('tot_coll_amt', axis=1)

In [142]:
df.shape

(39717, 61)

In [144]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,1,INDIVIDUAL,NaN,NaN,NaN,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,1,INDIVIDUAL,NaN,NaN,NaN,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,1,INDIVIDUAL,NaN,NaN,NaN,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,1,INDIVIDUAL,NaN,NaN,NaN,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,1,INDIVIDUAL,NaN,NaN,NaN,0,0.0,0,0.0,0.0

In [147]:
df.verification_status_joint.isnull().sum()

39717

In [148]:
df = df.drop('annual_inc_joint', axis=1)
df = df.drop('dti_joint', axis=1)
df = df.drop('verification_status_joint', axis=1)

In [149]:
round(100*(df.isnull().sum()/len(df.index)), 2)

id                               0.00
member_id                        0.00
loan_amnt                        0.00
funded_amnt                      0.00
funded_amnt_inv                  0.00
term                             0.00
int_rate                         0.00
installment                      0.00
grade                            0.00
sub_grade                        0.00
emp_title                        6.19
emp_length                       2.71
home_ownership                   0.00
annual_inc                       0.00
verification_status              0.00
issue_d                          0.00
loan_status                      0.00
pymnt_plan                       0.00
url                              0.00
desc                            32.58
purpose                          0.00
title                            0.03
zip_code                         0.00
addr_state                       0.00
dti                              0.00
delinq_2yrs                      0.00
earliest_cr_line                 0.00
inq_last_6mths                   0.00
mths_since_last_delinq          64.66
mths_since_last_record          92.99
open_acc                         0.00
pub_rec                          0.00
revol_bal                        0.00
revol_util                       0.13
total_acc                        0.00
initial_list_status              0.00
out_prncp                        0.00
out_prncp_inv                    0.00
total_pymnt                      0.00
total_pymnt_inv                  0.00
total_rec_prncp                  0.00
total_rec_int                    0.00
total_rec_late_fee               0.00
recoveries                       0.00
collection_recovery_fee          0.00
last_pymnt_d                     0.18
last_pymnt_amnt                  0.00
next_pymnt_d                    97.13
last_credit_pull_d               0.01
collections_12_mths_ex_med       0.14
mths_since_last_major_derog    100.00
policy_code                      0.00
application_type                 0.00
acc_now_delinq                   0.00
chargeoff_within_12_mths         0.14
delinq_amnt                      0.00
pub_rec_bankruptcies             1.75
tax_liens                        0.10
dtype: float64

In [150]:
df = df.drop('mths_since_last_major_derog', axis=1)
df = df.drop('next_pymnt_d', axis=1)
df = df.drop('mths_since_last_record', axis=1)

In [151]:
round(100*(df.isnull().sum()/len(df.index)), 2)

id                             0.00
member_id                      0.00
loan_amnt                      0.00
funded_amnt                    0.00
funded_amnt_inv                0.00
term                           0.00
int_rate                       0.00
installment                    0.00
grade                          0.00
sub_grade                      0.00
emp_title                      6.19
emp_length                     2.71
home_ownership                 0.00
annual_inc                     0.00
verification_status            0.00
issue_d                        0.00
loan_status                    0.00
pymnt_plan                     0.00
url                            0.00
desc                          32.58
purpose                        0.00
title                          0.03
zip_code                       0.00
addr_state                     0.00
dti                            0.00
delinq_2yrs                    0.00
earliest_cr_line               0.00
inq_last_6mths                 0.00
mths_since_last_delinq        64.66
open_acc                       0.00
pub_rec                        0.00
revol_bal                      0.00
revol_util                     0.13
total_acc                      0.00
initial_list_status            0.00
out_prncp                      0.00
out_prncp_inv                  0.00
total_pymnt                    0.00
total_pymnt_inv                0.00
total_rec_prncp                0.00
total_rec_int                  0.00
total_rec_late_fee             0.00
recoveries                     0.00
collection_recovery_fee        0.00
last_pymnt_d                   0.18
last_pymnt_amnt                0.00
last_credit_pull_d             0.01
collections_12_mths_ex_med     0.14
policy_code                    0.00
application_type               0.00
acc_now_delinq                 0.00
chargeoff_within_12_mths       0.14
delinq_amnt                    0.00
pub_rec_bankruptcies           1.75
tax_liens                      0.10
dtype: float64

In [152]:
df = df.drop('id', axis=1)

In [2]:
df2 = pd.read_csv("C:/Users/sr069609/Downloads/loan_new.csv",encoding ="ISO-8859-1")

NameError: name 'pd' is not defined

In [162]:
round(100*(df.isnull().sum()/len(df.index)), 2)

member_id                     0.00
loan_amnt                     0.00
funded_amnt                   0.00
funded_amnt_inv               0.00
term                          0.00
Unnamed: 5                  100.00
int_rate                      0.00
installment                   0.00
grade                         0.00
sub_grade                     0.00
emp_title                     6.19
emp_length                    2.71
home_ownership                0.00
annual_inc                    0.00
verification_status           0.00
issue_d                       0.00
loan_status                   0.00
pymnt_plan                    0.00
url                           0.00
desc                         32.58
purpose                       0.00
title                         0.03
zip_code                      0.00
addr_state                    0.00
dti                           0.00
delinq_2yrs                   0.00
earliest_cr_line              0.00
inq_last_6mths                0.00
open_acc                      0.00
pub_rec                       0.00
revol_bal                     0.00
revol_util                    0.13
total_acc                     0.00
initial_list_status           0.00
out_prncp                     0.00
out_prncp_inv                 0.00
total_pymnt                   0.00
total_pymnt_inv               0.00
total_rec_prncp               0.00
total_rec_int                 0.00
total_rec_late_fee            0.00
recoveries                    0.00
collection_recovery_fee       0.00
last_pymnt_d                  0.18
last_pymnt_amnt               0.00
next_pymnt_d                 97.13
last_credit_pull_d            0.01
application_type              0.00
acc_now_delinq                0.00
chargeoff_within_12_mths      0.14
delinq_amnt                   0.00
pub_rec_bankruptcies          1.75
tax_liens                     0.10
dtype: float64

In [163]:
df2.shape

(39717, 56)